::selection{
    background-color: #ef8e38;
    color: black;
}

::-webkit-scrollbar {
    width: 1.5vh;
}
  
::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
    border-left: 0.2vh black solid;
}
   
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#64bbec, #e20fe7);
    border-radius: 1vh;
    border: 0.1vh rgb(6, 6, 6) solid;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#3c80a8, #ac08af);
}

@font-face {
    font-family: "regular";
    src: url(./RedHatDisplay-Medium.otf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: "regular" !important;
    background-image: linear-gradient(to right, #108dc7, #ef8e38);
}

footer > b {
    font-size: 2vh;
}

header , footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.5vh;
    background-color: #9DADBC;
}

header {
    justify-content: space-between;
    height: 7vh;
}

.pl{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 380px;
    height: 80px;
    box-sizing: border-box;
    border: 6px rgb(83, 58, 38) solid;
    border-radius: 20px;
    box-shadow: 6px 6px 10px black;
    background-color: #b04e34;
}

header > div:first-child{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

header > div:first-child > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 2.5vh;
    border-right: 0.4vh #533a26 solid;
    text-decoration: underline transparent;
    cursor: pointer;
    transition: text-decoration 0.4s, text-shadow 0.4s;
}

header > div:first-child > div:hover{
    text-decoration: underline #533a26;
    text-shadow: 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
}

header > div:last-child{
    display: flex;
    align-items: center;
    height: 60%;
    width: 30%;
    margin-right: 1vh;
    border-radius: 3vh;
    background-color: aliceblue;
    border: 0.4vh #533a26 solid;
    overflow: hidden;
}

header > div:last-child > input{
    width: 80%;
    height: 100%;
    padding-left: 1vh;
    color: #533a26;
    font-size: 2.3vh;
    font-family: "regular";
    border: none;
    outline: none;
    background-color: transparent;
}

input::placeholder{
    color: #533a26;
}

::-webkit-search-cancel-button{
    display: none;
}

header > div:last-child > button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    width: 20%;
    border: none;
    background-color: transparent;
    height: 100%;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 70%;
    min-height: fit-content;
    border: 0.8vh rgb(83, 58, 38) solid;
    border-radius: 3vh;
    box-shadow: 1vh 1vh 1.5vh black;
    overflow: hidden;
}

main > div:first-child{
    display: flex;
    width: 100%;
    min-height: 7vh;
    background-color: aliceblue;
}

main > div:first-child > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-size: 2.5vh;
    border-right: 0.4vh #533a26 solid;
}

main > div:last-child{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main > div:last-child > div{
    display: flex;
    width: 100%;
    min-height: 7vh;
    box-sizing: border-box;
    max-height: 100vh !important;
    background-color: #B88865;
}

main > div:last-child > div:nth-child(2n){
    background-color: #956846;
}

main > div:last-child > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.4vh #533a26 solid;
    box-sizing: border-box;
    width: calc(20% + 0.6vh);
    height: 100%;
}

main > div:last-child > div > div:last-child{
    width: 17%;
    justify-content: space-evenly;
    border: none;
    background-color: rebeccapurple;
}

main button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vh;
    height: 4vh;
    padding: 0;
    font-size: 2.5vh !important;
    border-radius: 50%;
    border: 0.4vh rgb(83, 58, 38) solid;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s, border-color 0.2s;
}

main button:hover{
    border-color: #F79334;
    color: #F79334;
}

@media screen and (max-width: 768px) {
    header > div:last-child{
        width: 40%;
    }

    header > div:first-child > div , header input , main > div:first-child > div{
        font-size: 2vh !important;
    }

    main{
        width: 90%;
    }
}